rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Database path rules
    match /users/{userId} {
      allow read: if isValidUser();
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.keys().hasOnly(['username', 'photoUrl', 'email'])
        && request.resource.data.username is string
        && (request.resource.data.photoUrl is string || request.resource.data.photoUrl == null);
      allow update: if isValidUser()
        && request.auth.uid == userId
        && request.resource.data.keys().hasOnly(['username', 'photoUrl', 'email'])
        && request.resource.data.username is string
        && (request.resource.data.photoUrl is string || request.resource.data.photoUrl == null);
    }

    match /users/{userId}/notifications/{notificationId} {
      allow read, update: if request.auth.uid == userId;
      allow create: if isValidUser();
      allow delete: if request.auth.uid == userId;
    }

    match /groups/{groupId} {
      allow read: if isValidUser()
        && (
          request.auth.uid in resource.data.memberUids
          || isInGroupMembers(groupId)
        );
      allow create: if isValidUser()
        && isInGroupMembers(groupId);
      allow update: if isInGroupMembers(groupId)
        || request.resource.data.inviteKey == get(/databases/$(database)/documents/groupSettings/$(groupId)).data.inviteKey;
      allow delete: if isValidUser()
        && request.auth.uid in resource.data.memberUids;

      match /settings/{settingId} {
        allow create: if isValidUser()
          && (
            request.resource.data.keys().hasAll(['inviteKey'])
            || request.resource.data.keys().hasAll(['adminKey'])
          );
      }

      match /members/{docId} {
        allow create: if isValidUser()
          && request.auth.uid == docId
          && hasInviteKey(groupId);
        allow update: if isValidUser()
          && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['inviteKey'])
          && !request.resource.data.keys().hasAny(['inviteKey']);
      }

      match /transactions/{transactionId} {
        allow read: if isValidUser()
          && isInGroupMembers(groupId);
        allow write: if isValidUser()
          && isInGroupMembers(groupId);
      }
    }

    // Custom Functions
    function isInGroupMembers(groupId){
      return exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid));
    }

    function hasInviteKey(groupId){
      return request.resource.data.inviteKey == get(/databases/$(database)/documents/groups/$(groupId)/settings/inviteKey).data.inviteKey;
    }

    function isValidUser(){
      return request.auth.token.admin == true;
    }
  }
}