@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
  --color-olive: #282722;
  --color-cream: #f0e4c3;
  --color-sand: #f8f1e0;
  --color-accent-600: #f3533e;
  --color-accent-400: #f3792e;
  --color-accent-200: #ffc05b;

  --color-charcoal-800: #121210;
  --color-charcoal-700: #1c1c19;
  --color-charcoal-600: #282722;
  --color-charcoal-500: #35342e;
  --color-charcoal-300: #57564d;

  --color-shell-300: #cac3ad;
  --color-shell-100: #efe7d2;
  --color-shell-50: #fff7e4;

  --color-positive-300: #d0e995;
  --color-positive-500: #a2cf37;

  --color-negative-300: #ffc05b;
  --color-negative-500: #f3533e;
}

@layer base {
  ::selection {
    @apply bg-cream text-black;
  }
}
